<link href="/stylesheets/about.css" rel="stylesheet">
  <%- include header %>
  <div class="article">
    <h3 class="about_h">您现在的位置是：首页&nbsp;>&nbsp;关于我</h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>陈岩，女，一个90后草根大学生！接触web前端的学习，也可以说有两三年了。从刚上大学的迷茫，到慢慢明确就业的方向、开始步入学习的正轨也经历了一番纠结和挣扎。</p>
        <p> 人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。大二的时候，我在一位学长的带领下进入了学校科协的web组，开始接触web，了解web，在科协的日子里，我学到了很多，最主要的是相比于计算机传统课程的枯燥乏味，前端色彩缤纷的界面激发了我对web的浓烈兴趣。后来，我就在完成学校课业学习的同时，利用课余时间和组里的同学一起学习、遇到问题一起讨论，做了很多练习，在实战中发现自己有很多不足。</p>
        <p>大三的寒假，学校组织校外实习，我被分配到哈尔滨市唯创网讯，恰好这家公司主抓前端的开发，我在这里既能做我自己想做的方向，又能跟老师学到很多自己自学学不到的东西，这点是让我喜出望外的。现代互联网技术的日新月异，闭门造车是绝对行不通的，我就通过浏览一些互联网技术大牛的博客和论坛，了解一些最新的技术。
        </p>
        <p>现在的我马上要毕业了，似乎找工作的路很难走，但是，喜欢一句话：既然选择了远方，就只顾风雨兼程.... </p>
        <p>如果你不能飞，那就跑；</p>
        <p>如果跑不动，那就走；</p>
        <p>实在走不了，那就爬；</p>
        <p>无论做什么，都要勇往直前！</p>
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>域  名：www.luckyan.cn 创建于2014年8月 </p>
        <p>程  序：nodejs</p>
      </ul>
    </div>
  </div>
  <div class="aside">
    <div class="avatar"><a href="/about"><span>关于我</span></a></div>
    <div class="topspaceinfo">
      <h1>子非鱼</h1>
      <p>子非鱼，焉知鱼之乐....</p>
    </div>
    <div class="about_c">
      <p>网名：尖尖角 | 且行且珍惜</p>
      <p>职业：Web前端工程师 </p>
      <p>籍贯：黑龙江省-绥化市</p>
      <p>电话：18500476596</p>
      <p>邮箱：1109398921@qq.com</p>
      <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E" ><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="杨青个人博客网站"></a></p>
      <p> 
        <!--以下是QQ邮件列表订阅嵌入代码--><a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=65fb9b3618916f162973471ebc5b97ff786efae0ec9a863e"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_m.png" /></a> </p>
    </div>
  </div>
  <script src="js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
