<style>
body{background: rgba(0,0,0,0.8);width:100%;height:100%;overflow:hidden;}
p{ width:500px;color:#ccc;margin:0 auto;}
.main{width:250px;height:300px;margin:150px auto;color:#ccc;}
input{border-radius:3px;}
a{text-decoration:none;color:red;}
</style>
<body>
<p>本网站暂不支持网友登录，此为私人入口，望理解。&nbsp;&nbsp;<a href="/">back&lt;&lt;</a></p>
<form method="post" class="main">
  <div>用户名：<br/><input type="text" name="name"/></div>
  <div>密码： <br/> <input type="password" name="password"/></div>
         <input type="submit" value="登录" class="sub"/>
</form>
</body>