
  <link href="stylesheets/post.css" rel="stylesheet">

	<%- include header %>
	<div class="article">
	    <h3 class="about_h">您现在的位置是：首页&nbsp;>&nbsp;发表文章</h3>
	    <div class="about">
			<form method="post">
			  标题：<br />
			  <input type="text" name="title" /><br />
			  分类：<br />
			  <input type="text" name="tag1" /><br />
			  正文：<br />
			  <textarea name="post" rows="20" cols="100"></textarea><br />
			  <input type="submit" value="发表" />
			</form>
		</div>
	</div>
	<div class="aside">
	    <div class="avatar"><a href="about.html"><span>关于我</span></a></div>
	    <div class="topspaceinfo">
	      <h1>子非鱼</h1>
          <p>子非鱼，焉知鱼之乐....</p>
	    </div>
	    <div class="about_c">
	      <p>网名：尖尖角 | 且行且珍惜</p>
	      <p>职业：Web前端工程师 </p>
	      <p>籍贯：黑龙江省-绥化市</p>
	      <p>电话：18500476596</p>
	      <p>邮箱：1109398921@qq.com</p>
          <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=1109398921@qq.com" ><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="陈岩个人博客网站"></a></p>
	    </div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
